<div class="content">
  <div class="register">
    <div class="col-md-6 col-md-offset-3">
    	<div class="content">
        <div class="register-but">
		     	<%= form_for @film do |f| %>
				  <%= field_set_tag nil, class: "form-group" do %>
				  <%= f.text_field :name, class: "form-control", id: "example-name",
				    placeholder: "name" %>
				  <% end %>

				  <%= field_set_tag nil, class: "form-group" do %>
          <%= f.text_area :description, rows: 10, cols: 25, :class => "tinymce form-control", id: "example-email",
				    placeholder: "description" %>
				  <% end %>

          <%= field_set_tag nil, class: "form-group" do %>
          <%= f.collection_select :category_ids,
            Category.all, :id, :name,
                         { include_blank: true  },
                         { multiple: true, class: "chosen-select" } %>
          <% end %>

          <%= field_set_tag nil, class: "form-group" do %>
				  <%= f.date_field :release_day, class: "form-control", id: "",
				    placeholder: "Release Day" %>
				  <% end %>

				  <div class="col-sm-4">
				    <%= f.file_field :picture, class: "form-control" %>
				  </div>
				  <div class="actions">
					  <%= f.submit "Done" %>
					</div>
				<% end %>
			</div>
		</div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<br><br>
<%= tinymce %>
