<div class="content">
  <div class="register">
    <div class="col-md-6 col-md-offset-3">
    	<div class="content">
        <div class="register-but">
		     	<%= form_for @film do |f| %>
				  <%= field_set_tag nil, class: "form-group" do %>
				  <%= f.text_field :name, class: "form-control", id: "example-name",
				    placeholder: "name" %>
				  <% end %>

				  <%= field_set_tag nil, class: "form-group" do %>
				  <%= f.text_field :description, class: "form-control", id: "example-email",
				    placeholder: "description" %>
				  <% end %>
				  <div class="col-sm-4">
				    <%= f.file_field :picture, class: "form-control" %>
				  </div>
				  <div class="actions">
					  <%= f.submit "Done" %>
					</div>
				<% end %>
			</div>
		</div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<br><br>
