
  <div class="content">
             <div class="register">
         <div class="col-md-6 login-left">
           <h3>New Customers</h3>
         <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
         <a class="acount-btn" href="sign_up">Create an Account</a>
         </div>
         <div class="col-md-6 login-right">
          <h3>Registered Customers</h3>
        <p>If you have an account with us, please log in.</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input_form">
            <%= f.label :email %><br />
            <%= f.email_field :email, :class => "input_form",autofocus: true, autocomplete: "email" %>
          </div>

          <div>
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <p><%= render "devise/shared/links" %></p>

          <!-- <div>
          <span>Email Address<label>*</label></span>
          <input type="text">
          </div>
          <div>
          <span>Password<label>*</label></span>
          <input type="text">
          </div>
          <a class="forgot" href="#">Forgot Your Password?</a>
          <input type="submit" value="Login" -->
         </div>
         <div class="clearfix"> </div>
         </div>
           </div>
<br><br>
