<div id="comment_form">
      <hr>
    <h1>Comments </h1>
    <div class="container-fluid">
      <%= form_for @comment, remote: true do |f| %>
        <%= f.hidden_field :review_id, value: @review.id %>

        <%= f.text_area :content, class: "form-control" %>
        <br>
        <%= f.submit "submit", class: "btn btn-primary pull-right" %>
        <br>
      <% end %>
    </div>
  <hr>
  <% @comments.each do |cmt| %>
  <div class="container-fluid">
    <div>
      <div class="card text-center">
        <div class="card-body" id="card">
          <br>
          <div class="register">
            <div class="text">
              <%= cmt.content %>
            </div></p>
          </div>
            <br><br>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
