<div id="comment_form">
      <hr>
    <h1>Comments </h1>
    <div class="container-fluid">
      <%= form_for @comment, remote: true do |f| %>
        <%= f.hidden_field :review_id, value: @review.id %>

        <%= f.text_area :content, class: "form-control" %>
        <br>
        <%= f.submit "submit", class: "btn btn-primary pull-right" %>
        <br>
      <% end %>
    </div>
  <hr>
  <% @comments.each do |cmt| %>
  <div class="row">
            <div class="col-md-1 col-md-offset-1">
            <div class="thumbnail">
            <!-- <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"> -->
            <%= image_tag cmt.avatar_url, class: "img-responsive user-photo" %>
            </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-8">
            <div class="panel panel-default">
            <div class="panel-heading">
            <strong><%= cmt.email %></strong> <span class="text-muted">commented</span>
            </div>
            <div class="panel-body">
            <%= cmt.content %>
            </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div>
    <br>
  <% end %>
</div>
