<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <div class="blog_left_sidebar">
                <%= render "reviews_index" %>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <% if user_signed_in? %>
                <aside class="single_sidebar_widget author_widget">
                	  <%= image_tag current_user.avatar_url, class: " rounded-circle" %>
                    <h4><%= current_user.email %></h4>
                    <p>Senior blog writer</p>
                    <br>
                    <%= link_to "Edit", edit_user_path(current_user), class: "cat"%>
                    <div class="social_icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="br"></div>
                </aside>
                <% end %>
                
                <%= render "layouts/category" %>
            </div>
        </div>
    </div>
</div>
