        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                <div class="main_blog_details">
                  <%= image_tag @film.picture_url, class: "img-fluid"%>
                  <a><h4>Review for Film: <%=link_to @film.name, @film, class: "h1" %><br/></h4></a>
                  <h6 class="typo-list">Posted by <%= @user.email %></h6>
                  <div class="user_details">
                    <!-- <div class="float-left">
                      <a href="#">Lifestyle</a>
                      <a href="#">Gadget</a>
                    </div> -->
                  </div>
                  <%= @review.content.html_safe %>
          <%= render "rater/rater_form" %>
          <% if user_signed_in? %>
          <%= rating_for @review, "speed",
            disable_after_rate: false %>
          <% end %>
                  <div class="news_d_footer">
                    <%= render partial: "reviews/likes" %>
                    <!-- <a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>06 Comments</a> -->
                    <div class="news_socail ml-auto">
                      <%= social_share_button_tag("Review for film: " + @film.name + " by " + @user.email + " in MRSO", :image => @film.picture_url) %>
                    </div>
                  </div>
                  <div class="comment-form">
                    <%= commontator_thread(@review) %>
                  </div>

                </div>
      </div>
          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                  <%= render "layouts/search" %>
                    <aside class="single_sidebar_widget author_widget">
                        <%= image_tag @user.avatar_url, class: " rounded-circle" %>
                        <h4><%= @user.email %></h4>
                        <p>Senior blog writer</p>
                        <%= render "follows/follow" %>
                        <br>
                        <!-- <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div> -->
                        <div class="br"></div>
                    </aside>
                  <%= render "layouts/category" %>
              </div>
          </div>
        </div>
    </div>
</section>
