<div class="content">

	<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card text-center">
        <div class="card-body" id="card">
        	<br>
          <h5 class="card-title">Review of <%= link_to @user.email, user_path(@user), class: "movie__title" %> for film: <%= link_to @film.name, film_path(@film), class: "movie__title" %></h5>
          <hr>
          <div class=" col-md-10 col-md-offset-1 register">
						<p class="m_4"><%= @review.content.html_safe %></p>
				    <br><br>
				    <div class="clearfix"> </div>
				  </div>
					  <%= render partial: "reviews/likes" %>
        </div>
        <%= render "comment_form" %>
      </div>
    </div>

</div>
</div>
</div>
<br><br>