<!DOCTYPE html>
<html>
  <head>
    <title>Mrso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="container_wrap">
    <div class="header_top">
        <div class="col-sm-3 logo"><a href="index.html">
          <%= link_to image_tag("logo.png"), root_path %><%= %></a></div>
        <div class="col-sm-6 nav">
        <ul>
         <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="comic"><a href="movie.html"> </a></span></li>
         <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="movie.html"> </a> </span></li>
         <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="movie.html"> </a></span></li>
         <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="movie.html"> </a></span></li>
         <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="movie.html"> </a></span></li>
         <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="movie.html"> </a></span></li>
       </ul>
      </div>
      <div class="col-sm-3 header_left">
         <ul class="header_right_box">
         <!-- <li><%=image_tag("p1.png") %></li> -->
         <% if user_signed_in?%>
         <li><p><a href=""><%= link_to current_user.name, user_path_url(current_user) %></a></p></li>
         <li class="last"><i class="edit"><%= link_to "", destroy_user_session_path, method: :delete, :class => "btn btn-default btn-outline btn-circle" %></i></li>
         <% else %>
           <li><p><a><%= link_to "Sign in",  new_user_session_path %></a></p></li>
         <% end %>
         <div class="clearfix"> </div>
         </ul>
      </div>
      <div class="clearfix"> </div>
        </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
